body {
  color: white;
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
thead {
  background-color: #2A3040;
  font-size: 14px;
  tr{
    th {
      padding: 10px;
    }
  }
}
tbody {
  background-color: #21242D;
  tr {
    &:hover {
      background-color: rgba(76, 90, 118, 0.8);
      cursor: pointer;
    }
    td {
      &:nth-child(1) {
        max-width: 0;
        width: 30%;
        text-align: left;
        position: relative;
        div {
          display: none;
          position: absolute;
          top: 0;
          left: 50%;
          border: solid 2px white;
          thead {
            .headerTab {
              border-bottom: solid 1px white;
              td {
                text-align: left;
                label {
                  padding-right: 20px;
                }
                &:last-child {
                  cursor: pointer;
                  &:hover {
                    background-color: rgba(76, 90, 118, 0.8);
                  }
                }
              }

            }
          }
          tbody {
            tr {
              td {
                background-color: rgba(52, 55, 62, 1);
                color: white;
                border: solid 1px white;
              }
            }
        }
        }
        &:hover div {
          display: block;
          z-index: 999;
        }
      }
    }
  }
  td {
    padding: 10px;
  }
}

